@use 'helpers' as *;

:host {
  display: block;
  padding-block: var(--section-padding-y);
}

.gallery {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: #{rem(20)};
    width: 100%;
    margin-block: #{rem(50)} #{rem(48)};
  }

  &__item {
    height: #{rem(250)};
    overflow: hidden;
    border-radius: var(--border-radius-big);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition);
    }

    @include hover {
      img {
        scale: 1.06;
      }
    }

    &--wide {
      grid-column: span 2;
    }
  }

  @include tablet {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      margin-block: #{rem(32)};
    }

    &__item {
      height: #{rem(200)};

      &--wide {
        grid-column: span 2;
      }
    }
  }

  @include mobile {
    &__list {
      grid-template-columns: 1fr;
    }

    &__item--wide {
      grid-column: span 1;
    }
  }
}
